* {
	margin: 0;
	padding: 0;
	font-family: 'Orelega One', cursive
}	

body {
		background-image: url(https://images.pexels.com/photos/2603464/pexels-photo-2603464.jpeg?cs=srgb&dl=pexels-aleksandar-pasaric-2603464.jpg&fm=jpg);
		background-position: center center;
		background-size: contain;
		size: cover;
}

.nav-bar {
	position: sticky;
	top: 0;
	z-index: 10;
}

#nav-bar {
	background-color: #000;
}

.navbar-nav li {
	padding: 0 10px;
}

.navbar-nav li a{
	color: #fff !important;
	font-weight: 600;
	float: right;
	text-align: left;
	font-size: 16px;
	margin: 3px;
}

.nav-link:hover{
	transform: scale(1.3);
	border: 1px solid #fff;
}

.jumbotron {
  position: relative;
  overflow: hidden;
  background-color:black;
}
.jumbotron video {
  position: absolute;
  z-index: 1;
  top: 0;
  width:100%;
  height:100%;
  object-fit: cover;
  opacity:0.5;
}
.jumbotron .container {
  z-index: 2;
  position: relative;
}

.jumbotron{
	background-image: url(https://images.pexels.com/photos/52910/pexels-photo-52910.jpeg?cs=srgb&dl=pexels-nita-52910.jpg&fm=jpg);
	background-position: center;
	background-size: contain;
	size: cover;
	color: #fff!important;
}	

.jumbotron img{

	height: 24rem;
	border-radius: 30%;
	width: 18rem;
}

#jumbo:hover {
	transform: scale(1.3);
	z-index: 2;
}

#aboutme {
	color: #fff !important;
	margin: auto;
	padding: 20px;
	background-color: #000;
	font-size: 20px;
}

#ab1:hover {
	transform: scale(1.3);
	z-index: 2;
}

#myprojects {
	size: cover;
}

#bgblack{
	background-color: #000;
}


#BTTN:hover {
	transform: scale(1.2);
	z-index: 2;
	
}

#imgbox:hover {
	transform: scale(1.3);
	z-index: 2;
}



#logoimg:hover {
	transform: scale(1.3);
	z-index: 2;
}

.card-body #BTTN{
  width: 200px;
  font-size: 18px;
  padding: 10px;
  border: none;
  background: #000;
  color: #fff;
  cursor: pointer;
}


#BTTN {
  width: 200px;
  font-size: 18px;
  padding: 10px;
  border: none;
  background: #fff;
  color: #000;
  cursor: pointer;
}

#BTTN:hover {
  background: #000;
  color: white;
}

@media (max-width:320px) {
	#jumboIMG {
		display: none;
	}
}

#foot {
	background-color: #000;
}